/* Bu 3 satır, Tailwind'in çalışması için ZORUNLUDUR.
  "Tailwind'in temel stillerini, bileşen stillerini ve
  yardımcı (utility) stillerini buraya yükle" derler.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bunlar da projenin geri kalan temel ayarları.
  (Bunlar zaten vardı ama o 3 satır olmadan işe yaramıyorlardı).
*/
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

